body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat";
}

/* Header and Nav styling */
.bg-image {
  font-family: "Montserrat";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  margin-top: -20px;
}

.loggedout-header {
  font-family: "Montserrat";
  font-size: 500%;
  text-shadow: 2px 2px 2px white;
  font-style: italic;
}

.loggedin-nav-brand {
  font-family: "Montserrat";
  margin-left: 10px;
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px darkcyan;
}

.home-text {
  font-family: "Montserrat";
  margin-left: 25%;
  margin-right: 25%;
}


/* Profile styling */

.profile {
  font-family: "Montserrat";
  margin-top: 120px;
}

.profile-header {
  font-size: 200%;
  text-shadow: 1px 1px 1px #d3e9ed;
}
.user-info-key {
  font-weight: bold;
}

.job-list h4 {
  background-color: #d3e9ed;
}

.skill-list h4 {
  background-color: #d3e9ed;
}

.edu-list h4 {
  background-color: #d3e9ed;
}

/* login styling */
.login h4 {
  background-color: #d3e9ed;
}

#login-tab {
  color: darkgray;
}

.signup h4 {
  background-color: #d3e9ed;
}

.edu-icon {
  font-size: 250%;
}

.edu-text {
  font-weight: bold;
  margin-left: 5px;
}

 /* form styling */
.job-form-profile,
.skill-form-profile,
.edu-form-profile {
  border: 1px solid black;
  border-radius: 10px;
}

.add-job button,
.add-skill button,
.add-edu button {
  width: 100%;
  color: black;
  background-color: #d3e9ed;
  font-weight: bolder;
  border: .5px solid black;
  margin-bottom: 5px;
}

.profile-toc {
  display: flex;
  justify-content: center;
}
.profile-toc button {
  color: black;
  background-color: #d3e9ed;
  font-weight: bolder;
  border: .5px solid black;
  margin-right: 5px;
}

.profile-toc button a {
  color: black;
  text-decoration: none;
}

.form-input {
  border-radius: 10px;
  padding: 5px;
}

.form-label {
  font-weight: bolder;
}

/* Download page styling */

.download {
  font-family: "Montserrat";
  margin-top: 120px;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1500px;
  margin-bottom: 20px;
}

#resume {
  font-family: sans-serif;
  padding: 5px;
  margin-left: 200px;
  margin-right: 400px;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 20px;
}

.resume-header {
  font-size: 500%;
}

.dividers {
  border: 3px solid gray;
}

.aside {
  border-right: 2px solid gray;
}

.contact-info {
  font-size: x-small;
}

.contact-icons {
  font-size: 20px;
}

.skill-names {
  list-style: circle;
}

.resume-school {
  font-weight: bolder;
}

.download-button {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.jobs-header {
  font-size: 200%;
}

.resume-jobs {
  width: 100%;
}

/* footer styling */

.footer-text {
  font-family: "Montserrat";
  font-size: 20px;
  padding: 30px;
  text-align: left;
  margin-left: 20px;
  margin-right: 65%;
  font-weight: bold;
  float: left;
}

.footer {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(211, 233, 237), white);
  background-position: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.logo-list {
  float: right;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-logo {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 200%;
}